.wrapper{
    opacity: 0;
    transform: translateX(-100%);
    width: 100%; /* Make the image responsive */
    height: auto; 
    animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.wrapper2{
    opacity: 0;
    transform: translateX(100%);
    width: 100%; /* Make the image responsive */
    height: auto; 
    animation: slideInFromLeft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
